<sky-grid
        fit="scroll"
        [data]="events">
    <sky-grid-column
            id="name"
            field="name"
            heading="name"
    >
    </sky-grid-column>
    <sky-grid-column
            id="location"
            field="location"
            heading="location"
    >
    </sky-grid-column>
    <sky-grid-column
            id="date"
            field="date"
            heading="date"
            [template]="dateDisplay"
    >
    </sky-grid-column>
    <sky-grid-column
            id="available"
            field="available"
            heading="available"
    >
    </sky-grid-column>
    <sky-grid-column
            id="price"
            field="price"
            heading="price"
    >
    </sky-grid-column>
    <sky-grid-column
            id="id"
            field="id"
            width="50"
            [isSortable]=false
            [locked]=true
            [template]="buyNow"
    >
    </sky-grid-column>

    <ng-template let-row="row" #buyNow>
        <buy-link-button [event]="row"></buy-link-button>
    </ng-template>

    <ng-template let-value="value" #dateDisplay>
        {{value | date: 'medium'}}
    </ng-template>
</sky-grid>