<sky-modal>
    <sky-modal-header>
       <h1> {{event.name}} | {{event.date | date: 'medium'}} </h1>
    </sky-modal-header>
    <sky-modal-content>
        <div>
            <form>
                <div>
                    Location: {{event.location}} <br/>
                    Number of Tickets Avaliable: 127 <br/>
                    Current Price: $89.00 <br/>
                </div>
                <br>
                <div>
                    <div class="sky-form-group">
                        <label>How many ticket do you want?</label>
                        <input type="text" [(ngModel)]="amount" name="amount" (blur)="calculateTotal()">
                    </div>
                    <br>
                    <div>
                        Total Purchase Amount: {{totalAmount}}
                    </div>
                </div>
                <div [hidden]="notInCart">
                <br>
                <div class="sky-emphasized">
                    <label>Please click here to confirm your order:</label>
                    <button type="button" class="sky-btn sky-btn-primary" (click)="saveTransaction()">
                        Purchase Tickets
                    </button>
                </div>
                </div>
            </form>
        </div>
    </sky-modal-content>
</sky-modal>