.ticket-details {
  border-bottom: solid;
  border-bottom-color: #e2e3e4;
  border-width: 1px;
}

.ticket-input {
  margin-bottom: 20px
}

.purchase-button {
  display: inline;
}

.invalid-tickets-error {
  color: #ef4044;
}